#cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
