.cart-container {
    background: #eee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
  
  }
  
  .cart-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4A90E2; 
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #0023509a; 
    font-size: 28px;
    text-shadow: 1px 1px 3px rgba(1, 21, 134, 0.555); 
  
  }
  
  .cart-items {
    margin-top: 20px;
  
  }
  
  .cart-table {
    width: 100%;
    margin-top: 20px;
    background-color: #4A90E2;
    border-radius: 20px;
    box-shadow:10px 20px 40px rgba(51, 44, 150, 0.281);
  }
  
  
  .cart-table th {
    background-color:transparent;
    color: #190047; 
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    text-transform: uppercase;
  
  }
  .cart-table>thead{
  
    vertical-align:middle;
  }
  
  .cart-table td {
    text-align: center;
    padding: 12px 10px;
  }
  
  
  
  .table-img {
    width: 90px;
    height: 100px;
    border-radius: 20px;
  }
  
  .delete-btn {
    border: none;
    background: none;
    color: #e02c0cf8;
  
  }
  
  .delete-btn-icon {
    height: 20px;
    width: 20px;
    transition: 0.7s ease;
  }
  
  
  .delete-btn:hover {
    background-color: transparent;
  
  }
  .delete-btn:hover .delete-btn-icon {
    color: #CC0000; 
    background-color: transparent;
    scale: 1.4;
  }
  
  
  @media (max-width: 768px) {
    .cart-container {
      padding: 10px;
    }
  
    .cart-table {
      display: block;
      overflow-x: auto;
    }
  }